<html>
    <head>
        <title>Word Repeat Counter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container'>
            <h1>Have you ever wondered how many times a word appears in a another list of words?</h1>
            <h2>Look no further!  This site will help by giving you that exact information!</h2>
            <form action='/view_results'>
                <div class='form-group'>
                    <label for='input'>Enter the word you would like to search for:</label>
                    <input type='text' name='input' class='btn-block' required>
                </div>
                <div class='form-group'>
                    <label for='input_array'>Enter the passege you would like to search through:</label>
                    <input type='text' name='input_array' class=btn-block required>
                </div>
                <button type='submit' class='btn btn-warning btn-block'>Search!</button>
            </form>
        </div>
    </body>
</html>
