<html>
    <head>
        <title>Word Search Results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container'>
            {% if result > 0 %}
                <h2> {{ input }} was found {{ result }} times!</h2>
            {% else %}
                <h2> It looks like there were {{ result }} </h2>
            {% endif %}

        <button type='submit' class='btn btn-primary btn-block'><a href = '/'>Search again?</a></button>
    </body>
</html>
